@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Comfortaa:wght@400;500;700&family=Cormorant+Garamond:ital,wght@0,400;0,500;0,700;1,400&family=Dancing+Script:wght@400;500;700&family=Lora:ital,wght@0,400;0,500;0,700;1,400&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&family=Quicksand:wght@400;500;700&family=Raleway:ital,wght@0,400;0,500;0,700;1,400&family=Tangerine:wght@400;700&display=swap');

/*Universal Selectors */

html {
    font-family: 'Quicksand';
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-style: uppercase;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

a {
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.5;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    object-fit: contain;
}

/*Header section*/

header {
    flex-direction: row;
    border-bottom: 1rem ridge rgb(200, 182, 166);
    width: 100%;
    position: fixed;
    top: -8rem;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 247, 232, 1) 100%);
    z-index: 4;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}


header:hover {
    border-bottom: 1rem ridge rgb(200, 182, 166);
    width: 100%;
    position: fixed;
    top: 0;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 247, 232, 1) 100%);
    z-index: 4;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    transition: 2s;
}

header:hover ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    gap: 1.5rem;
    align-items: center;
    transition: 5s;
}

header:not(:hover) {
    transition: 2s;
}


nav {
    display: flex;
    flex-direction: row;
    width: 100vw;

}

#menu {
    display: flex;
    width: 100%;
}

.mobile__menu {
    display:none;
}

.pc__menu{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu__logo__logo {
    padding: 1rem;
    margin-left: 10rem;
    width: 7rem;
    height: auto;
}

.menu__animation {
    position: fixed;
    margin-top: -1rem;
    margin-left: 10rem;
    z-index: 10;
    width: 10rem;
    height: 10rem;
}

.menu__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}


ul {
    display: none;
}

li {
    border-radius: 1rem;
    padding: 1rem 5rem;
    background: rgba(200, 182, 166, 0.49);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(.3rem);
    border: 0.25rem solid rgba(200, 182, 166, 0.11);
    font-size: 1rem;
    text-align: center;
    height: auto;
}

li:hover {
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.799), 0 0 10px rgba(255, 255, 255, 0.684);
    border-radius: 0.25rem;
    padding: 1rem 5rem;
    background: rgba(241, 222, 201, 0.49);
    box-shadow: none;
    backdrop-filter: blur(0.3rem);
    -webkit-backdrop-filter: blur(.3rem);
    border: 0.1rem solid rgba(200, 182, 166, 0.11);
    transition: ease 1s;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
}

li:not(:hover) {
    transition: 1s;
}


/*Hero & About section*/

.hero-about {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: -2rem;
    padding-top: 10rem;
    border-bottom: 1rem groove rgb(200, 182, 166);
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url(../Images/oscar-impressos-brancos-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.hero {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;

}

.hero__text {
    color: white;
    text-shadow: 0.2rem 0.2rem 0.4rem black;
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    z-index: 10;
    line-height: 2;
    width: 80%;
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 0.25rem solid rgba(200, 182, 166, 0.11);
    border-radius: 1rem;

}

#about-section {
    width: 100vw;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
}

#about-section:hover .about-section__text {
    display:block;
}



.about-section__text {
    display: none;
    width: 80%;
    padding: 2rem;
}

.about-section__image {
    text-align: center;
    border-radius: 0.5rem;
    width: 80%;
}

/*Gallery section*/

/*Gallery section paintings*/

#gallery-section {
    width: 100vw;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 0.5rem;
}

.gallery-section__art-paintings {
    display: grid;
    width: 100%;
    padding: 1rem;
    grid-template-columns: repeat(18, 1fr);
    grid-auto-rows: 0.05rem;
    justify-items: center;
    gap: 2rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__art-paintings__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding: 1rem 0 0 0;
    font-weight: bold;
    font-size: 0.7rem;
}

.gallery-section__art-paintings__1 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 1 / 1 / span 23 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__art-paintings__1:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 1 / 1 / span 23 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}


.gallery-section__art-paintings__2 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 1 / 7 / span 17 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__art-paintings__2:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 1 / 6 / span 23 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}


.gallery-section__art-paintings__3 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 1 / 13 / span 18 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__art-paintings__3:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 1 / 12 / span 23 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__4 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 18 / 7 / span 13 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__art-paintings__4:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 18 / 6 / span 17 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__5 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 19 / 13 / span 21 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__art-paintings__5:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 19 / 12 / span 25 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__6 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 19 / 1 / span 18 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__art-paintings__6:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 19 / 1 / span 21 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__7 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 37 / 1 / span 17 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__art-paintings__7:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 37 / 1 / span 22 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__8 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 31 / 7 / span 17 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__art-paintings__8:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 31 / 6 / span 22 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__9 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 40 / 13 / span 18 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__art-paintings__9:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 40 / 12 / span 20 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__10 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 54 / 1 / span 17 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__art-paintings__10:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 54 / 1 / span 22 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__11 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 48 / 7 / span 18 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__art-paintings__11:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 48 / 6 / span 22 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__12 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 58 / 13 / span 17 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}


.gallery-section__art-paintings__12:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 58 / 12 / span 22 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__13 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 66 / 7 / span 14 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}


.gallery-section__art-paintings__13:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 66 / 6 / span 18 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__14 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 71 / 1 / span 21 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}


.gallery-section__art-paintings__14:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 71 / 1 / span 22 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__15 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 75 / 13 / span 17 / span 6;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}


.gallery-section__art-paintings__15:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 75 / 12 / span 22 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}

.gallery-section__art-paintings__16 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 80 / 8 / span 12 / span 4;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}


.gallery-section__art-paintings__16:hover {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 80 / 6 / span 15 / span 8;
    background: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 3;
}



/*Gallery section t-shirts*/

.gallery-section__t-shirts {
    display: grid;
    width: 100%;
    padding: 1rem;
    grid-template-columns: repeat(18, 1fr);
    grid-auto-rows: 0.05rem;
    justify-items: center;
    gap: 2rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__t-shirts__1 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 1 / 1 / span 24 / span 9;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__t-shirts__2 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 1 / 10 / span 19 / span 9;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__t-shirts__3 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 20 / 10 / span 21 / span 9;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__t-shirts__4 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 25 / 1 / span 16 / span 9;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.gallery-section__t-shirts__5 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    grid-area: 41 / 4 / span 20 / span 12;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

/*Contact section*/

#contact {
    display: flex;
    flex-direction: row;
    background: beige;
    padding: 3rem;
    justify-content: space-around;
    width: 100vw;
}

.mobile__footer{
    display: none;
}

.pc__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.footer__contact__text{
    text-align: center;
}

.footer__logo{
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: auto;

}

.menu__animation__footer {
    grid-area: 1 /  1;
    width: 10rem;
    height: 10rem;
}

.footer__logo__icon{
    grid-area: 1 /  1;
    width: 10rem;
    height: 10rem;
}

.footer__social-networks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.footer__social-networks__facebook {
    color:black;
    z-index: 10;
    width: 1.3rem;
    height: auto;
}

.footer__social-networks__instagram {
    color:black;
    z-index: 10;
    width: 1.3rem;
    height: auto;
}

.footer__social-networks__text {
    text-align: center;
}


/*


MEDIAQUERIES
MEDIAQUERIES
MEDIAQUERIES


*/



@media only screen 
and (max-device-width: 450px) {

/* Universal Selectors */


/*Header & Menu*/

header {
    flex-direction: row;
    border-bottom: 1rem ridge rgb(200, 182, 166);
    max-width: 100%;
    position: fixed;
    top: -3rem;
}

header:hover ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.pc__menu {
    display: none;
}

.mobile__menu{
    display: flex;
}
.menu__content {
    display: flex;
    flex-direction: column;
    align-content: center;

}

#menu__logo {
    position: fixed;
    padding: 0rem;
    margin-left: 0rem;
    margin-top: 1rem;
    width: 2rem;
    height: auto;
    }

.menu__animation {
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    z-index: 10;
    width: 5rem;
    height: auto;
}

/*Hero & About */

.hero-about {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* Gallery Section */

#gallery-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.gallery-section__art-paintings {
    display: flex;
    flex-direction: column;
}

.gallery-section__t-shirts {
    display: flex;
    flex-direction: column;
}

/*Footer*/

#contact{
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.pc__footer {
    display:none;
}

.mobile__footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100vw;
}

.mobile__footer__logo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.mobile__footer__animation{
    grid-area: 1 /  1;
    width: 5rem;
    height: 5rem;
}

.footer__logo__icon{
    grid-area: 1 /  1;
    width: 5rem;
    height: 5rem;
}


.mobile__footer__social-networks__facebook{
    width: 3rem;
    height: auto;
}

.mobile__footer__social-networks__instagram{
    width: 3rem;
    height: auto;
}



}